%html{:lang => 'en'}
  %head
    %title Green Screen - Monitor Your Builds
    %link{:rel => 'stylesheet', :href => '/stylesheets/application.css'}
    %script{:type => 'text/javascript', :src=> '/javascripts/jquery.js'}
    %script{:type => 'text/javascript', :src=> '/javascripts/jquery.quicksand.js'}
    %script{:type => 'text/javascript', :src=> '/javascripts/buzz.js'}
    %script{:type => 'text/javascript', :src=> '/javascripts/GreenScreen.js'}
  %body
    .fade
    %section.category#success
      %h1 <span class="count">0</span> <span class="title">successes</span>
      %ul
    %section.category#failure
      %h1 <span class="count">0</span> <span class="title">failures</span>
      %ul
    %section.category#building
      %h1
        %span.count 0
        %span.title building
        .fade
      %ul
    