<% @tender_stats.each do |stat| %>
  <span>
    <span><%= stat[:name] %></span> 
    (<span class='current'><%= stat[:current] %></span>|<span class='recent'>+<%= stat[:recent] %></span>)</span>
<% end %>